.th-component-news-events {
  background: #f7f7f7;
  padding: 8em 0;

  h3 {
    color: #008381;
    font-weight: bold;
    font-family: "Telstra Akkurat";
    display: inline;
  }

  .see-all-link {
    display: inline;
    margin-left: .5em;
    margin-top: 4px;
    margin-left: 15px;

    a {
      color: #444;
      font-size: 1.1em;
      font-family: "Telstra Akkurat";
      text-decoration: underline;
    }
  }

  .item-metadata {
    margin: 1em 0;
    h4{
        a {
          color: #414141;
          text-decoration: none;
        }
    }
  }

  .item {
    background: #fff;
    border: 1em solid #f7f7f7;
    border: 1px solid #eee;

    img {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
    &.feature-1 {
      .title {
        font-size: 2em;
        a{
          text-decoration: none;
          color:#414141;
        }
      }
    }
    .label {
      color: #378180;
      text-transform: uppercase;
      font-size: .8em;
      font-family: "Telstra Akkurat";
    }

    .metadata {
      color: #414141;
      font-size: .8em;
      a {
        color: #414141;
        text-decoration: underline;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding: 2em 0;
    h3 {
      font-size: 1.3em;
    }

    .see-all-link {
      display: inline;
      margin-left: .5em;
      margin-top: 0px;
      margin-left: 15px;

      a {
        color: #444;
        font-size: .9em;
        font-family: "Telstra Akkurat";
        text-decoration: underline;
      }
    }

    .news-insights {
      padding-bottom: 2em;
    }

    .training-events {
      .item {
        margin-bottom: 2em;
        margin-top: 2.4em;
      }
    }
  }
}